<?xml version="1.0"?>
<model>
  <name>marsyard2020_terrain</name>
  <version>1.1</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Mars Society Polska / Leo Rover</name>
  </author>
  <description>
    ERC Marsyard 2020 terrain mesh wrapped for local Gazebo Classic use.
  </description>
</model>
