<?xml version="1.0"?>
<model>
  <name>mars_gazebo_topography</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>aunefyren</name>
  </author>
  <description>
    Mars topography mesh extracted from the mars_gazebo project and wrapped as a local Gazebo model.
  </description>
</model>
