<?xml version="1.0"?>
<model>
  <name>apollo15_landing_site_1000x1000</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kei Okada / MobileRobots</name>
  </author>
  <description>
    Apollo 15 lunar landing site heightmap adapted for local use in Gazebo Classic.
  </description>
</model>
